<div align="center" ng-show="isLoading">
    <img src="~/Resources/Picture/loading.gif" align="center" />
</div>
<div class="row" ng-show="!isLoading">
    <h4></h4>
</div>
<div class="row" style="margin-top: 100px;" ng-show="!isLoading">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>ФИО</th>
                <th>Телефон</th>
                <th>Робочий</th>
                <th>Країна</th>
                <th>Область</th>
                <th>Місто</th>
                <th>Вулиця</th>
                <th>Дата створення</th>
                <th>Дата редагування</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td>{{user.id}}</td>
                <td>{{user.fullName}}</td>
                <td>{{user.homePhone}}</td>
                <td>{{user.workPhone}}</td>
                <td>{{user.country}}</td>
                <td>{{user.region}}</td>
                <td>{{user.city}}</td>
                <td>{{user.street}}</td>
                <td>{{user.createdOn}}</td>
                <td>{{user.modifiedOn}}</td>
                <td>
                    <a class="btn btn-default btn-sm" href="#" ng-click="deleteUser(user.id)">
                        <i class="fa fa-trash-o fa-sm"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <button style="margin-top:20px;" type="button" class="btn btn-primary col-md-offset-6 btn-sm" ng-click="loadMore()">Загрузити ще</button>
</div>
