<div align="center" ng-show="isLoading">
    <img src="~/Resources/Picture/loading.gif" align="center" />
</div>
<div class="row" ng-show="!isLoading">
    <h4></h4>
</div>
<div class="row" style="margin-top: 100px;" ng-show="!isLoading">
    <div class="row" ng-repeat="coop in cooperations">
        <div class="col-md-10 col-md-offset-4" style="margin-top:20px;">
            <div class="media">
                <div class="media-left">
                    <a href="/cooperation/{{coop.id}}">
                        <img class="media-object" style="width:200px;height:120px;" ng-src="{{pictures[coop.id] || '/Resources/Picture/empty_cooperation.jpg'}}" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{coop.title}}</h4>
                    <h5 class="media-heading">Адреса проживання: {{coop.residenceAddress}}</h5>
                    <h5 class="media-heading">Ціна: {{coop.workCost}}</h5>
                    <h5 class="media-heading">Модель транспорту: {{coop.carModel}}</h5>
                    <h5 class="media-heading">Дата створення: {{coop.createdOn}}</h5>
                </div>
            </div>
        </div>
    </div>
    
    <button style="margin-top:20px;" type="button" class="btn btn-primary col-md-offset-6 btn-sm" ng-click="loadMore()">Загрузити ще</button>
</div>
