<div align="center">
    <a style="margin-top:300px;" align="center" href="/coop_application" class="btn btn-primary btn-lg">Заявка на співробітництво</a>
    <a style="margin-top:300px;" align="center" href="/trans_application" class="btn btn-primary btn-lg">Заявка на перевезення</a>
</div>