<div class="row">
    <h4>Увійдіть в систему</h4>
</div>
<div class="row">
    <form class="bs-component">
        <div class="form-group">
            <label class="control-label">Логін:</label>
            <input class="form-control" type="text">
        </div>
        <div class="form-group">
            <label class="control-label">Пароль:</label>
            <input class="form-control" type="text">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" ng-click="loginUser()">Увійти</button>
        </div>
    </form>
</div>
