<div align="center" ng-show="isLoading">
    <img src="~/Resources/Picture/loading.gif" align="center"/>
</div>
<div class="row" ng-show="!isLoading">
    <h4></h4>
</div>
<div class="row" style="margin-top: 50px;" ng-show="!isLoading">
    <form class="bs-component">
        <div class="row">
        <div class="form-group col-md-6 col-md-offset-3">
            <label class="control-label">Логін:</label>
            <input class="form-control" ng-model="loginUserName" type="text" required>
        </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6  col-md-offset-3">
                <label class="control-label">Пароль:</label>
                <input class="form-control" ng-model="loginUserPassword" type="password" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-3">
                    <button type="submit" class="btn btn-primary" ng-click="loginUser()">Увійти</button>
            </div>
            <div class="col-md-3 text-right">
                    <a href="/register">Реєстрація</a>
            </div>
        </div>
    </form>
</div>
